.root {
  position: fixed;
  top: 100px;
  right: 0;
  background-color: $bg-thirdly;
  border-radius: 0 0 0 8px;
  width: 300px;
  height: 600px;
  color: $bg-primary;
  border: 2px solid $bg-primary;

  display: flex;
  flex-direction: column;

  transform: translateX(305px);
  transition: transform 0.3s 0s;

  &[data-open="true"] {
    transform: translateX(0);
    transition: transform 0.3s 0s;
  }

  &__header {
    font-size: 2rem;
    margin-top: 15px;
    text-align: center;
  }

  &__toggleButton {
    position: absolute;
    border: 2px solid $bg-primary;
    border-right: 0px;
    top: -2px;
    left: -42px;
    width: 40px;
    height: 40px;
    background-color: $bg-thirdly;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__total {
    margin: 5px;
    padding: 5px;
    font-size: 1.5rem;
  }
  &__itemList {
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
