$bg-primary: #242424;
$bg-secondary: #eee;
$bg-secondary2: #ccc;
$bg-thirdly: white;

$text-primary: #242424;
$text-secondary: white;
$text-thirdly: #555;
$text-price: #2ecc71;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: $text-secondary;
  background-color: $bg-primary;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: $text-secondary;
  &:hover,
  &:active {
    color: $text-secondary;
  }
}
